<h1>Student Form</h1>


<form action="saveStudent">
    Name : <input type="text" name="Student_Name"> <br>
    Mobile : <input type="text" name="Student_Number"> <br>

    <Button>Add Student</Button>
</form>