<form action="/save_teacher" method="post">
    <input type="text" name="teacher_name" placeholder="Enter Teacher Name"><br><br>
    <input type="text" name="teacher_email" placeholder="Enter Teacher Email"><br><br>
    <input type="text" name="teacher_password" placeholder="Enter Teacher Password"><br><br>
    <input type="text" name="teacher_address" placeholder="Enter Teacher Address"><br><br>
    <button>Add Teacher</button>
</form>