<form action="/added_product" method="post">
    <input type="text" name="product_name" placeholder="Enter Product name">
    <input type="text" name="product_price" placeholder="Enter Product price">
    <input type="text" name="product_quantity" placeholder="Enter Product quantity">
    <input type="text" name="product_detail" placeholder="Enter Product detail">
    <button>Submit Product</button>
</form>