<form action="/show_coustomer" method="post">
    <input type="text" name="coust_name" placeholder="Enter coustomer name"><br><br>
    <input type="text" name="coust_mobile" placeholder="Enter coustomer mobile"><br><br>
    <input type="text" name="coust_email" placeholder="Enter coustomer email"><br><br>
    <input type="text" name="coust_passwoord" placeholder="Enter coustomer password"><br><br>
    <input type="date" name="coust_dob" placeholder="Enter coustomer dob"><br><br>
    <input type="text" name="coust_address" placeholder="Enter coustomer address"><br><br>
    <button>Save Coustomer Info</button>

</form>