<h2>Sign Up Form</h2>
        <form method="POST" action="/signup">

            Name : <input type="text" name="name" placeholder="Enter Your Name"><br><br> 
            email : <input type="email" name="email" placeholder="Enter Your email"><br><br> 
            password : <input type="text" name="password" placeholder="Enter Your password"><br><br> 
            phone : <input type="text" name="phone" placeholder="Enter Your phone number"><br><br> 
            <button type="submit"> Sign up</button>
        </form>